<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <div style="text-align: center; background-color: antiquewhite; width: 25%">
        <h1><bold>User Info</bold></h1>

        <br>

        <div style="text-align: left">

            <form action="#" th:method="PATCH" th:action="@{/admin}" th:object="${patchedUser}">

                <input type="hidden" th:field="*{id}" id="id">

                <label for="name">Name</label>
                <input type="text" th:field="*{name}" id="name">

                <br><br>

                <label for="surname">Surname</label>
                <input type="text" th:field="*{surname}" id="surname">

                <br><br>

                <label for="age">Age</label>
                <input type="number" th:field="*{age}" id="age">

                <br><br>

                <label for="email">Email</label>
                <input type="text" th:field="*{email}" id="email">

                <br><br>

                <label for="password">Password</label>
                <input type="text" th:field="*{password}" id="password">

                <br><br>

                <label for="patched_roles">Roles</label>
                <select multiple name="patched_roles" id="patched_roles" th:required="true" size="2">
                    <option th:each="role : ${allRoles}"
                            th:value="${role}"
                            th:text="${role}"
                            th:selected="${patchedUser.roles.contains(role)}">
                    </option>
                </select>

                <br><br>

                <input type="submit" value="Update">

            </form>

            <br>

            <form th:method="post" th:action="@{/logout}">
                <input type="submit" value="Logout">
            </form>

        </div>

    </div>

</body>
</html>